*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cnox{
    width: 500px;
    height: 500px;
    background-color: blueviolet;
    position: relative;
    top: 0;
    left: 25%;
}
.child1{
    width: 300px;
    height: 300px;
    position: absolute;
    top:20%;
    left: 20%;
    background-color:crimson;
}
.child2{
    width: 200px;
    height: 200px;
    position: absolute;
    top:0;
    left: 30%;
    background-color:yellow;
    border:2px dashed #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}