*{
    margin: 0;
    padding: 0;
}
header{
    text-align: right;
}
.menu_link{
    margin-top: 10px;
}
.menu_link a{
    text-decoration: none;
    color: black;
    padding: 20px;
    margin: 0 10px;
    border-left: 1px solid #000000;
    font-size: 20px;
}
.menu_link a:first-child{
    border: none;
}
.menu_link a:hover{
    text-decoration: underline;
    color: red;
    border-left: 1px solid red;
    font-size: 30px;
}
.menu_link a:first-child:hover{
    border: none;
}
.main1{
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    padding: 30px 0;
    height: 300px;
}
.main1 p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif000;
    text-align: justify;
    width: 30%;
    margin: auto;
    margin-top: 20px;
    display: none;
}
h1{
    color: aliceblue;
}
h1:hover +p{
    display: block;
}
footer{
    text-align: center;
    margin: 30px 0;
}
footer a{
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0 10px;
    font-size: 15px;
}